.section1{
    padding-top: 300px;
    background-image: url("../image/Akan.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;

}
.section3{
    background-color: rgb(255, 201, 51);
}
.section2{
    padding-top: 10%;
    width:40%;
    height:400vh;

}
.card{
    color:black;
}
footer{
    background: rgb(247, 244, 244);
    height: 4px;
}