.section1{
    padding-top: 300px;
    background-image: url("/image/Akan.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;

}
.section2{
    background-color: whitesmoke;
}